body{width:500px;margin:20px auto 0 auto;padding:0 20px;}
body{font-family:Helvetica,Arial,sans-serif;color:#222;}
a{color:#666;text-decoration:none;}a:hover{color:#999;}
footer a{color:#ccc;}
p,ul,ol{font-size:13px;line-height:23px;}
header h1{margin-bottom:0;font-size:22px;border-bottom:1px solid #eee;padding-bottom:5px;}
header h2{font-size:16px;color:#555;font-weight:normal;font-family:Georgia, Cambira, serif;}
pre,code{font-family:Monaco,"Bitstream Vera Sans Mono",Consolas,Courier,monospace;font-size:12px;color:#333;background:#eee;padding:2px;}
footer{color:#888;}